:root {
    --card-height: 375px; /* altezza della card */
    --card-width: calc(var(--card-height) / 1.2); /* larghezza della card in base all'altezza */
}

* {
    box-sizing: border-box; /* per includere padding e bordi nelle dimensioni totali degli elementi */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #dc0a2d; /* colore di sfondo per il body */
}

.img-container{
    display: flex;
    align-items: center; /* allinea l'immagine al centro verticalmente */
}

#pokedex-container{
    width: 85%; /* larghezza del contenitore del pokedex */
    background-color: #212529;
    display: flex;
    flex-wrap: wrap; /* per far sì che le cards si adattino su più righe */
    gap: 16px; /* spazio tra le cards */
    margin-bottom: 10px;
    justify-content: center; /* allinea le cards al centro */
    outline: 4px solid white; /* bordo bianco intorno al contenitore */
    outline-offset: -10px; /* sposta il bordo all'interno */
}

.button-container {
    width: 85%;
    height: 10%;
    background-color: #212529;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    outline: 4px solid white;
    outline-offset: -10px;
    z-index: 1;
    padding-bottom: 25px;
}

.card {
    width: var(--card-width); /* larghezza dinamica della card */
    height: var(--card-height); /* altezza dinamica della card */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* posiziona gli elementi in fondo alla card */
    padding: 0 36px;
    margin: 0 50px;
    cursor: pointer; /* cambia il cursore quando si passa sopra */
    padding-bottom: 10px;
    z-index: 15;
}

.wrapper {
    transition: all 0.5s; /* transizione fluida per gli effetti */
    position: absolute;
    width: 100%;
    z-index: -1;
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0; /* inizialmente invisibile */
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 100%, /* effetto sfumato sopra */
    );
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 100%, /* effetto sfumato sotto */
    );
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 0; /* nasconde i gradienti al passaggio del mouse */
}

.card:hover .wrapper::after {
    height: 120px; /* aumenta l'altezza del gradiente inferiore al passaggio del mouse */
}

.title {
    width: 100%;
    transition: transform 0.5s; /* transizione per il movimento del titolo */
}

.card:hover .title {
    transform: translate3d(0%, -50px, 100px); /* sposta il titolo verso l'alto al passaggio del mouse */
}

.character {
    width: 100%;
    opacity: 0; /* inizialmente invisibile */
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1; /* rende visibile la caratteristica al passaggio del mouse */
    transform: translate3d(0%, -30%, 100px); /* sposta la caratteristica in alto */
}

.pokemon-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene le proporzioni dell'immagine */
    border-radius: 10px;
    position: relative;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120%; /* ingrandisce l'immagine */
    height: auto;
    opacity: 0; /* inizialmente invisibile */
    z-index: 10;
    transition: opacity 0.3s ease-in-out; /* transizione per l'effetto di hover */
    max-width: 100%;
    max-height: 100%;
}

.card:hover .hover-image {
    opacity: 1; /* rende visibile l'immagine di hover al passaggio del mouse */
}

.card:hover .pokemon-image {
    opacity: 0; /* nasconde l'immagine principale al passaggio del mouse */
}

.pokemon-image {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.nome-pokemon {
    position: absolute;
    bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    font-family: 'custom-font';
}

.backPokedex {
    position: absolute;
    left: 40px;
    top: 25px;
    width: 7%; /* posizione dell'icona per tornare al pokedex */
}

.titolo {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 1px;
    align-items: center;
}

.search-container {
    width: 85%;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10px;
    outline: 4px solid white;
    outline-offset: -10px;
}

.search-container img {
    position: relative;
    right: 42px; /* posizione dell'icona di ricerca */
    height: 50px;
    cursor: pointer;
    transition: all 1s; /* transizione per l'animazione dell'icona */
}

.search-container input {
    font-size: 20px;
    background-color: transparent;
    border: 1px white;
    border-top: 2px solid red;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid grey;
    outline: none;
    border-radius: 20px;
    width: 0%;
    opacity: 0%; /* inizialmente invisibile */
    transition: all 1s; /* transizione per il campo di ricerca */
    padding: 5px;
    padding-left: 10px;
}

.search-container p {
    position: relative;
    left: -20px;
    transition: all 0.2s 0.2s ease-in-out;
    width: fit-content;
    text-wrap: nowrap;
    font-family: 'custom-font';
}

.search-container p:last-child {
    left: -45px;
    font-family: 'custom-font';
}

#poke-search {
    background-color: white;
    font-family: 'custom-font';
}

@font-face {
    font-family: 'custom-font';
    src: url(font/ARCADECLASSIC.TTF); /* font personalizzata */
}

h1 {
    display: flex;
    align-content: center;
    font-family: 'custom-font';
    color: white;
    font-size: 400%; /* stile per il titolo */
}

.button {
    font-family: 'custom-font';
    word-spacing: 5px;
    font-size: 16px;
    color: white;
    background-color: #dc0a2d; /* colore di sfondo per il bottone */
    border: none;
    padding: 10px 25px;
    position: relative;
    cursor: pointer;
}

.button::after {
    content: '';
    position: absolute;
    bottom: -5px; /* estende l'ombra sotto */
    right: -5px; /* estende l'ombra a destra */
    width: calc(100% + 7px); /* aumenta la larghezza dell'ombra */
    height: calc(100% + 5px); /* aumenta l'altezza dell'ombra */
    background-color: #7a0317; /* colore dell'ombra */
    z-index: -1; /* posiziona l'ombra sotto il bottone */
}

.button:active {
    transform: translate(5px, 5px); /* sposta il bottone quando cliccato */
}

.messg {
    font-family: 'custom-font';
    word-spacing: 5px;
    font-size: 32px;
    color: white;
}